/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
	/* colors */
	--clr-dark: 230 35% 7%;
	--clr-light: 231 77% 90%;
	--clr-white: 0 0% 100%;
	
	/* font-sizes */
  --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: clamp(1em, 1em + 1vw, 1.75rem);
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
	
	/* font-families */
	--ff-serif: "Bellefair", serif;
	--ff-sans-cond: "Barlow Condensed", sans-serif;
	--ff-sans-normal: "Barlow", sans-serif;
}



/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0; 
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl( var(--clr-white) );
	background-color: hsl( var(--clr-dark) );
	line-height: 1.5;
	min-height: 100vh;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
*,
*::before,
*::after {
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	transition-duration: 0.01ms !important;
	scroll-behavior: auto !important;
}
}


/* --------------- */
/* utility classes */
/* --------------- */

.d-block {
	display: block;
}



.sr-only {
position: absolute; 
width: 1px;
height: 1px;
padding: 0;
margin: -1px; 
overflow: hidden;
clip: rect(0, 0, 0, 0);
white-space: nowrap; /* added line */
border: 0;
}

/* colors */

.bg-dark { background-color: hsl( var(--clr-dark) );}
.bg-accent { background-color: hsl( var(--clr-light) );}
.bg-white { background-color: hsl( var(--clr-white) );}

.text-dark { color: hsl( var(--clr-dark) );}
.text-accent { color: hsl( var(--clr-light) );}
.text-white { color: hsl( var(--clr-white) );}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}

/* Home page background img */

.home-page {
	background-image: url(./starter-code/assets/home/background-home-mobile.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size:cover;
}

@media (min-width: 35em) {
	.home-page {
		background-image: url(./starter-code/assets/home/background-home-tablet.jpg);
	}
}

@media (min-width: 45em) {
	.home-page {
		background-image: url(./starter-code/assets/home/background-home-desktop.jpg);
		background-position: right bottom;
	}
}

.flow *:where(:not(:first-child)) {
	margin-top: 2em;
}

/* utility classes */

/* utility classes */

/* Header */
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 35em) {
	.header {
		margin-top: 2em;
		margin-left: 1em;
	}
	.primary-nav {
		position: fixed;
		top: 0em;
		right: 0em;
		height: 100vh;
		width: 70%;
		padding-top: 2em;
		transform: translateX(100%);
		transition: transform 500ms ease-in-out;
	}

	.primary-nav ul li {
		margin-top: 4em;
	}
}

.primary-nav {
	background-color: hsl(var(--clr-white) / .20);
	backdrop-filter: blur(1em);
}


.primary-nav[aria-expanded="true"] {
	transform: translateX(0%);
	z-index: 33;
}

.primary-nav ul {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.navigation-links ul li{
	list-style: none;
}

.navigation-links a {
	text-decoration: none;
	color: hsl(var(--clr-white));

}

.navigation-links a span {
	font-weight: 600;
	margin-right: 0.1em;
}

@media (min-width: 35em) {
	.header {
		margin-top: 0;
	}
	.primary-nav {
		height: 4em;
	}
	.primary-nav ul * {
		margin-top: 0;
		
		display: flex;
		flex-direction: row;
	}
	.primary-nav ul {
		flex-direction: row;
		align-items: center;
		gap: 1.2em;
		margin: 0;
		padding-right: 1em;
		height: 100%;
	}

	.primary-nav ul li:first-child span {
		display: none;
	}
	.primary-nav ul li span {
		margin-right: clamp(.1em, .1em + .5vw, 2em);
	}
	.primary-nav ul li{
		height: 100%;
		display: flex;
		align-items: center;
		font-size: var(--fs-400);
	}
	/* remove toggle icon if width > 35em */
	.toggle-menu {
		display: none;
	}

	.logo {
		margin-left: 1em;
	}

	.primary-nav li {
		border-bottom: 0.2em solid hsl(var(--clr-white) / 0);
	}

	.primary-nav .li-active {
		border-color: hsl( var(--clr-white) );
	}

	.primary-nav li:hover, .primary-nav li:focus {
		border-color: hsl(var(--clr-white) / .70);
	}
}

@media (min-width: 45em) {
	.header {
		margin-top: 2em;
	}
	.logo {
		order: -1;
		margin-right: 1em;
		min-height: 3em;
		min-width: 3em;
	}

	.header::before {
		content: "";
		height: .1em;
		width: calc(100%);
		background-color: hsl(var(--clr-white) / .25);
		order: 0;
		margin-right: -1em;
		z-index: 9999;
	}
	.primary-nav ul {
		gap: clamp(1em , 1em + 5vw, 7em);
		height: 100%;
	}

	.primary-nav ul li:first-child span {
		display:inline;
	}

}

.toggle-menu {
	height: 1em;
	width: 1em;
	position: relative;
	cursor: pointer;
	margin-right: 1em;
	z-index: 999;
}

.toggle-menu[aria-expanded="false"]::after {
	position: absolute;
	content: "";
	top: 0em;
	left: 0em;
	height: 100%;
	width: 100%;
	background-image: url(./starter-code/assets/shared/icon-hamburger.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.toggle-menu[aria-expanded="true"]::after {
	position: absolute;
	content: "";
	top: 0em;
	left: 0em;
	height: 100%;
	width: 100%;
	background-image: url(./starter-code/assets/shared/icon-close.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* content */

.main-cont {
	display: flex;
	flex-direction: column;
	margin-inline: 6em;
	gap: 2em;
	height: 80vh;
	margin-top: 3em;
}

@media (min-width: 45em) {
	.main-cont {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.left-part {
		place-content: center;
	}
}

@media (max-width: 45em) {
	.left-part *{
		text-align: center;
	}
}

.big-btn-cont {
	display: flex;
	align-items: center;
	justify-content: center;
}

.large-btn {
	background-color: hsl(var(--clr-white));
	padding-inline: 2em;
	aspect-ratio: 1;
	border-radius: 50%;
	text-decoration: none;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.large-btn::after {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background-color: hsl(var(--clr-white) / .20);
	border-radius: 50%;
	z-index: -1;
	opacity: 0;
	transition: transform 500ms ease-in-out, opacity 500ms linear;
}

.large-btn:hover::after, .large-btn:focus::after {
	transform: scale(1.5);
	opacity: 1;
}

/* ------------------ */
/* Destination styles */
/* ------------------ */

.des-page {
	background-image: url(./starter-code/assets/destination/background-destination-mobile.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

@media (min-width: 35em) {
	.des-page {
		background-image: url(./starter-code/assets/destination/background-destination-tablet.jpg);
		background-position: center;
	}
}

@media (min-width: 45em) {
	.des-page {
		background-image: url(./starter-code/assets/destination/background-destination-desktop.jpg);
		background-position: center;
	}
}
/* ----------------------- */
/* Destination page content */
/* ------------------------ */

/* Destination page utility classes */

/* Destination page header */

.numbered-headers {
	margin-bottom: 2em;
	font-weight: 500;
	text-align: center;
}

.numbered-headers span {
	color: hsl(var(--clr-white) / .25);
	margin-right: .5em;
	font-weight: 500;
}

/* Destination page navigation links */

.des-options {
	height: 3em;
	margin-top: 3em;
}

.des-options ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	max-width: 20em;
	margin: 0;
	padding: 0;
	margin-inline: auto;
}

.des-options ul li {
	height: 100%;
	place-content: center;
	cursor: pointer;
	border-bottom: .2em solid hsl(var(--clr-white) / .0);
}

/* adds low visible border bttom color when focused or hovered */
.des-options ul li:hover, .des-options ul li:focus {
	border-bottom: .2em solid hsl(var(--clr-white) / .25);
	a {
		color: hsl(var(--clr-white));
	}
}

.des-options ul li a {
	text-decoration: none;
	height: 100%;
}

/* large header  */

.big-header {
	text-align: center;
	margin-block: .4em;
}
/* adds underline to selected link */

.des-options ul li.des-option-underline {
	border-bottom-color: hsl(var(--clr-white)) ;
}

/* text */

.text-info {
	text-align: center;
}

/* Destination details */

.des-details {
	border-top: .1em solid hsl(var(--clr-white) / .25);
	margin-block: 2em;
	padding-top: 2em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

.destance {
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.des-cont {
	margin-top: 3em;
	margin-inline: 1.5em;
}

@media (min-width: 35em) {
	.des-cont {
		margin-inline: 4em;
	}

	.numbered-headers {
		text-align: start;
	}

	.des-details {
		flex-direction: row;
		gap: 8em;
	}
}

@media (min-width: 45em) {
	.des-cont {
		margin-inline: 6em;
	}
	.img-info-cont {
		display: flex;
		gap: 2em;
	}

	.des-img-cont {
		flex: 1;
		padding-top: 5em;
	}

	.des-info-cont {
		flex: 1;
	}

	.des-details {
		flex-direction: row;
		gap: calc(2em + 5vw);
	}
	.text-info {
		text-align: start;
	}

	.des-options ul {
		margin-inline: 0;
	}

	.big-header {
		text-align: start;
	}
}

.des-img-cont {
	display: flex;
	justify-content: center;
	height: max-content;
}

.des-img-cont img {
	width: clamp(50%, 50% + 10vw, 100%);
	height: clamp(50%, 50% + 10vw, 100%);
}

/* ========== */
/* Crew styles */
/* ========== */

/* background img */

.crew-page {
	background-image: url(./starter-code/assets/crew/background-crew-mobile.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 35em) {
	.crew-page {
		background-image: url(./starter-code/assets/crew/background-crew-tablet.jpg);
	}
}

@media (min-width: 45em) {
	.crew-page {
		background-image: url(./starter-code/assets/crew/background-crew-desktop.jpg);
	}
}

/* crew utility classes */

.role {
	color: hsl(var(--clr-white) / .25);
}

.crew-name {
	font-size: clamp(1em, 1em + 2vw, 3em);
}

.dot-indicators {
	display: flex;
	gap: 1em;
	justify-content: center;
	margin-top: 2em;
}

.dot-indicators button {
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: hsl(var(--clr-white) / .25);
	border: none;
	cursor: pointer;

}

.dot-indicators .dot-on {
	background-color: hsl( var(--clr-white) );
}

.dot-indicators button:hover {
	background-color: hsl(var(--clr-white) / .60);
}


.crew-info {
	flex: 1;
	display: flex;
	flex-direction: column;
	
}

.crew-img-cont {
	flex: 1;
	position: relative;
	display: flex;
}

.crew-img-cont img {
	margin-inline: auto;
	margin-block: 1em;
	max-width: 100%;
	margin-bottom: 2.2em;
}


.role-name-bio {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.80em;
}




@media (min-width: 35em) and (max-width: 45em) {

	.crew-img-cont::after{
		box-shadow: none;
	}

	.crew-img-cont img {
		margin-bottom: 0em;
		width: 70%;
	}
}

@media (min-width: 45em) {
	.dot-indicators {
		justify-content: start;
	}

	.crew-img-cont {
		height: 80vh;
	}

	.crew-info {
		justify-content: space-around;
	}

	.role-name-bio {
		align-items: start;
	}
}

/* =============== */
/* technology styles*/
/* =============== */

/* tech utility classes */

.numbered-dots {
	max-width: fit-content;
	display: flex;
	gap: 1em;
}

.numbered-dots .numbered-dot {
	padding-inline: 0.7em;
	padding-top: 0.2em;
	aspect-ratio: 1;
	border-radius: 50%;
	font-size: 550;
	background-color: transparent;
	border: 0.050em solid hsl(var(--clr-white) / .25);
	cursor: pointer;

}

.numbered-dots .numbered-dot.is-on {
	background-color: hsl( var(--clr-white) );
	color: hsl( var(--clr-dark) );
}

.numbered-dots .numbered-dot:hover, .numbered-dots .numbered-dot:focus {
	border-color: hsl( var(--clr-white) );
}

.tech-main-cont {
	margin-top: 2em;
	display: grid;
	grid-template-columns: 2em minmax(0, 40em) minmax(0, 20em) 2em;
	grid-template-rows: repeat(3, auto);
	gap: 2em;
}
/* .tech-main-cont >* {
	border: 1px solid white;
} */

.tech-numbered-header {
	margin-bottom: 2em;
	grid-column: 2/8;
}

.tech-numbered-header span{
	color: hsl(var(--clr-white) / .25);
}

.tech-info-cont {
	grid-column: 1/8;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

.tech-info {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding-inline: 1em;
}

.terminology, .tech-name, .tech-info {
	text-align: center;
}
.terminology {
	color: hsl(var(--clr-white) / .25);
}

.tech-info {
	margin-bottom: 1em;
}

.tech-img-cont {
	grid-column: 1/8;
	grid-row: 2/3;
}

.tech-img-cont img{
	width: 100%;
}

@media (min-width: 35em) {
	.tech-info {
		padding-inline: 2em;
	}
}

@media (min-width: 45em) {
	.tech-info-cont {
		flex-direction: row;
		grid-column: 2/5;
	}

	.tech-info {
		padding-inline: 0em;
	}
	.terminology, .tech-name, .tech-info {
		text-align: start;
	}
	.tech-img-cont {
		grid-column: 5/8;
	}
	.numbered-dots {
		flex-direction: column;
		gap: 4em;
		margin-right: 1em;
	}
}